<a href="https://colab.research.google.com/github/Dileep3549/PyDataSolutions/blob/main/Demographic_Data_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data")

In [4]:
df.columns=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','salary']

In [5]:
df.head(10)

   age          workclass  fnlwgt  ... hours-per-week  native-country  salary
0   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
1   38            Private  215646  ...             40   United-States   <=50K
2   53            Private  234721  ...             40   United-States   <=50K
3   28            Private  338409  ...             40            Cuba   <=50K
4   37            Private  284582  ...             40   United-States   <=50K
5   49            Private  160187  ...             16         Jamaica   <=50K
6   52   Self-emp-not-inc  209642  ...             45   United-States    >50K
7   31            Private   45781  ...             50   United-States    >50K
8   42            Private  159449  ...             40   United-States    >50K
9   37            Private  280464  ...             80   United-States    >50K

[10 rows x 15 columns]

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [50]:
df.value_counts('race')

race
 White                 27815
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
dtype: int64

What is the average age of men?

In [17]:
df[df['sex']==' Male']['age'].mean()

39.433567396392675

What is the percentage of people who have a Bachelor's degree?

In [26]:
(df[df['education']==' Bachelors']['education'].count()/df.shape[0])*100

16.443488943488944

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [41]:
(df[(df['education'].isin([' Bachelors',' Masters',' Doctorate']) & (df['salary']==' >50K'))]['salary'].count()/df.shape[0])*100

10.706388206388207

What percentage of people without advanced education make more than 50K?

In [42]:
(df[(~df['education'].isin([' Bachelors',' Masters',' Doctorate']) & (df['salary']==' >50K'))]['salary'].count()/df.shape[0])*100

13.375307125307126

What is the minimum number of hours a person works per week?

In [43]:
df['hours-per-week'].min()

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [47]:
(df[(df['hours-per-week']==df['hours-per-week'].min()) & (df['salary']==' >50K')]['hours-per-week'].count()/df.shape[0])*100

0.006142506142506142

What country has the highest percentage of people that earn >50K and what is that percentage?

In [56]:
(df[df['salary']==' >50K'].value_counts('native-country').max()/df.shape[0])*100

22.023955773955777

Identify the most popular occupation for those who earn >50K in India.

In [59]:
df[(df['salary']==' >50K') & (df['native-country']==' India')]['occupation'].mode()

0     Prof-specialty
dtype: object